

a:hover {
    color: rgb(255, 0, 200);
}
a:link {
    color: rgb(8, 0, 255);
}
a:visited {
    background-color: rgba(255, 204, 0, 0.274);
}
a[href="#"]:focus {
    color: rgb(0, 255, 213);
}
a:not([href="#"]) {
    background-color: rgba(255, 0, 0, 0.232);
}
li:first-child {
    color: rgb(255, 183, 0) !important;
}
li:last-child {
    color: blue !important;
}
li:nth-child(3n) {
    color: darkblue !important;
}
li:nth-child(n+2) {
    color: darkcyan;
}
li:nth-child(odd) {
   color: darkmagenta;
}